:root {
    background-color: #f5f5f5;
    height: 100%;
}
h1 {
    text-align: center;
    color: #FF9E90;
}
h2, h4 {
    color: #FF9E90;
}
/* Nav Links */
.navbar-light .navbar-brand {
    font-size: 35px;
    margin-left: 5%;
    letter-spacing: 2px;
}
.nav-link {
    font-weight: 500;
    letter-spacing: 3px;
}
.navbar-nav li a{
    font-size: 13px;
    margin-right: 15px;
    margin-left: 15px;
}
.navbar-nav li a:hover {
    font-weight: bold;
    
}

/* About */
.about-me-container {
    height: 100vh;
}
.homePagePhoto {
    border-radius: 50%;
    border: 10px solid white;
    overflow: hidden;
    position: absolute;
    margin: -200px;
}
.backgroundimage{
    background-image:url("https://images.unsplash.com/photo-1587614382346-4ec70e388b28?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    margin-right: 10px;
    margin-left: 10px;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px #FFC6B8 solid;
   }
 .main-container {
     height: 100vh;
     display: flex;
     justify-content: center;
 }
 .col-7 {
    display: flex;
    flex-direction: column;
 }

/* Portfolio */
#portfolio.portfolio-page {
    width: 100%;
    color: black;
  }
  #card-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
  }
  .card-img, .card-img-top {
    cursor: pointer;
  }
  div.portfolio-pics.card {
    margin: 20px;
    opacity: .8;
  }
  div.portfolio-pics.card:hover {
    opacity: 1;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  
/* Contact form 
.form-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.contactApp {
    height: 100vh;
}

.contact-form {
    display: flex;
    align-items: center;
    flex-direction: column;
   }
.input-group-text {
    width: 90px;
}
.card-body {
    margin: 1.25rem;
    border: 1px solid gray;
}
.contactphoto {
    height: 55vh;
    margin-right: 20px;
}

h3 {
    text-align: center;
}
*/
#contact-form {
    height:85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: auto;
    background: linear-gradient(110deg, #ffebe6 60%, #ffd6cc 60%);
}
.form-control {
    background-color: #f2f2f2;
}
.form-container {
    margin: 10px;
    width: 40vw;
    border-radius: 5px;
    padding: 20px;
    
}
/* Resume */
.resume {
  position: relative;
  min-height: 100vh;
}
.justify-content-center {
    justify-content: center!important;
    padding: 3%;
    
}
div.col-lg-4.col-md-6.col-sm-12.education {
    border-right: 2px solid #FFC6B8;
    margin-right:10px;
}
/* Footer */
svg {
    color:#FF9E90;
}
.p-0 {
    color: #FF9E90;
}
.p-4 {
    padding: 1rem!important;
}
.footer {
    position: absolute;
    width:100%;
}
@media only screen and (max-width: 800px) {
    .row {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    div.col-lg-4.col-md-6.col-sm-12.education {
        border-bottom: 2px solid #FFC6B8;
        border-right:none;
        margin-bottom:10px;
    }
  }