* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f5f7;
}
a{
  text-decoration: none;
  font-size: 18px;
  background-color: white;
}
li {
  list-style-type: none;
}
nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  background-color:white;
  
}
nav .name {
  font-size: 35px;
  text-transform: uppercase;
  background-color: white;
}
nav .links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  background-color: white;
}
nav .links a:hover {
  border-bottom: 1px black solid;
}
.aboutMe {
  margin-top: 5%;
  margin-right:35%;
  margin-left: 35%;
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  border-radius: 5px;
  padding:20px;
  background-color: #d5e0dc;
}
.aboutMeTitle {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 768px) {
  
}
